body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background: radial-gradient(
      circle at 20% 20%,
      rgba(255, 71, 87, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(0, 200, 255, 0.1),
      transparent 40%
    ),
    #0f0f0f;

  color: white;
}